@import url("style.css");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  /* Mon charte de couleur graphique */
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
  /* @media  */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* les tailles d'écran 
  Desktop : au delà de 1024 pixels.
Tablette : entre 600 et 1024 pixels (en mode portrait)
Mobile : entre 320 et 600 pixels (en mode portr

  */
}
/* partie menu--acces et contact --qui-sommes nous--Avis--Evenement-Presse-Recrutement */
.navMenuEtablissement {
  text-align: center;
  margin: 50px 0 50px 0;
}
.aMenuEtablissement {
  padding: 15px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  color: var(--white);

}
.aMenuEtablissement:hover {
  text-decoration: none;
  color: #fff;
  background:salmon;
  color: var(--white);
  

}
.contenu {
  text-align: center;
}

h1.hotelEtablissement {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
  width: 600px;
  border-bottom: 2px solid #93192a;
  color: var(--white);
}
h2.hotelEtablissement {
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 12px 0;
  font-size: 35px;
  color: var(--white);

}
.pAcces {
  font-size: 25px;
  color: var(--white);
  margin-bottom:15px

}
.pContact {
  font-size: 25px;
  margin: 0 auto;
  width: 550px;
  margin-bottom: 50px;
  color: var(--white);

}
.pFormulaire {
  font-size: 21px;
  margin: 0 auto;
  width: 570px;
  text-align: center;
  color: var(--white);
}
form.formulaire {
  margin: 0 auto;
  width: 450px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
label {
  display: inline-block;
  width: 90px;
  margin: 7px;

  font-size: 17px;
}
sup {
  color: #93192a;
}
.inputLigne {
  text-align: right;
}
input[type="text"] {
  width: 250px;
  border: 2px solid #d2c1b4;
  text-align: flex-start;
}
select {
  width: auto;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #d2c1b485;
  text-align: center;
}
textarea {
  resize: none;
  border: 2px solid #d2c1b4;
}
input[type="submit"] {
  margin: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background: var(--brightred);
  color: #d2c1b4;
  cursor: pointer;
}
h2.contact {
  margin-top: 15px;
  color: var(--brightred);
}
div.contact {
  display: flex;
  flex-direction: column;
  
}

label {
  width: 90px;
  margin: 7px;
  font-size: 17px;
}
sup {
  color: #93192a;
}
.inputLigne {
  text-align: right;
}
input[type="text"] {
  width: 250px;
  height:30px;
  margin-bottom: 5px;
  border: 2px solid #d2c1b4;
  width: 250px; border: 2px solid #d2c1b4;
  box-shadow: #198754;
  transition: all 0.3 ease-in-out;
}
select {
  width: auto;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--brightred);
}
textarea {
  border: 2px solid #d2c1b4;

}
input[type="submit"] {
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background: #93192a;
  color: #d2c1b4;
  cursor: pointer;
}
input#nom{
  width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color:greenyellow
}
input#pays{
 width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color:salmon;
}
input#entreprise{
 width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color: #d63384;
}

input#prenom{
 width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color: slateblue
}
input#mail{
width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color: #0dcaf0;
}
input#sujet{
  width: 250px;
  height:30px;
  margin-bottom: 5px;
  background-color: #198754;
}
textarea#message{
  background-color:var(--bs-yellow);
}

/* partie menu--acces et contact --qui-sommes nous--Avis--Evenement-Presse-Recrutement */
